<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="mailto:jose.roobledo@cab.cnea.gov.ar">email</a></li>
				<li><a href="https://github.com/jorobledo">github.com/jorobledo</a></li>
				<li><a href="https://scholar.google.com/citations?user=CdIsuOEAAAAJ&hl=es&authuser=2&oi=ao">Google Scholar</a></li>
				<li><a href="https://www.researchgate.net/profile/Jose-Robledo-5">ResearchGate</a></li>
				</ul>
			</footer>
		</body>
	</html>
